.Memb
{
    color: #AAAAAA;
}
.loginAnch
{
    color: #4799eb;
    font-size: 18px;
    font-size: 17px;
}
.AnchColor
{
    color: #6c757d;
}
.imgRegister{
    background-image: url("../../../assets/routeegypt_com/gaming.ebaf2ffc84f4451d.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat    ;
    background-position: center center;
}