
.NotMemb
{
    color: #AAAAAA;
}
.registerAnch
{
    color: #4799eb;
    font-size: 18px;
    font-size: 17px;
}
.imgLogo
{
    width: 15%;
}
.img{
    background-image: url("../../../assets/routeegypt_com/gaming.ebaf2ffc84f4451d.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat    ;
    background-position: center center;
}